# The Theoretical Best Recommender

We'll figure out what is the theoretical best possible score for this challenge by creating a _cheating_ recommender. This cheating recommender will peek at the test set target values to predict them exactly. Doing so will give the maximum possible top-5-percent score.

In [1]:
import numpy as np
import pandas as pd

import scoring

### Load the dataset

We don't actually use this... :/

In [2]:
training_set = pd.read_csv('jester_train.csv')
test_set = pd.read_csv('jester_test.csv')

In [3]:
# Sanity check:
training_set.head()

   user_id  joke_id  rating
0     7302       29   7.156
1    61815       46   6.375
2    31128       96   2.281
3    36125      147  -1.781
4    18007       60   2.188

In [4]:
# Sanity check:
test_set.head()

   user_id  joke_id
0    30762       24
1    54667      128
2    38515       68
3    44643       39
4    58677       13

### Peek at the Test Set Targets

WE'RE CHEATING!!!

In [5]:
test_set_predictions = pd.read_csv('dont_use.csv')   # !!! CHEATING !!!

In [6]:
# Sanity check:
test_set_predictions.head()

   user_id  joke_id  rating
0    30762       24  -0.188
1    54667      128   9.844
2    38515       68   8.500
3    44643       39   3.875
4    58677       13   3.156

### Compute the theoretical best score

In [7]:
scoring.score_rmse(test_set_predictions)

0.0

In [8]:
scoring.score_top_5_percent(test_set_predictions)

5.841853164780794